.hero-section {
    padding-top: 36px;
    padding-bottom: 360px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 8px;
    border: 1px solid #212121;
    max-width: 300px;
  }
  
  .form-button {
    align-self: flex-start;
  }
  
  .form-input {
    padding: 4px;
    color: #212121;
    border: 1px solid #212121;
    border-radius: 4px;
  }
  .form-label {
      display:flex;
      flex-direction :column;
  }
  .textContainer {
    margin-top: 26px;
    position: relative;
    padding: 26px;
    border: dashed rgb(0, 76, 255);
    width: 100%;
  }
  .letter {
    display: inline-block;
    font-family:'Courier New', Courier, monospace;
    font-size: 46px;
    font-weight: 600;
    margin: 1px;
    padding: 1px;
    
  }

  .selection-rectangle {
    position: absolute;
    border: 2px dashed blue;
    background-color: rgba(173, 216, 230, 0.3);
    
  }

  .letter.selected {
    color: red;
  }

  span.letter {
    white-space: pre;
  }